{% import 'skeleton.html' as skeleton %}

{% macro error(error_text) %}
<div class="row">
	<br>
	<div class="col-md-2 col-sm-3 text-center">
		<a class="story-img" href="{{ permalink }}">
			<img src="//placehold.it/100/ff0000/ffffff" style="width:100px;height:100px" class="img-circle">
		</a>
	</div>
	<div class="col-md-10 col-sm-9">
		<h3><a href="{{ permalink }}">Oopsie!</a></h3>
		<div class="row">
			<div class="col-xs-9">
				{{ error_text }}
			</div>
			<div class="col-xs-3"></div>
		</div>
		<br><br>
	</div>
</div>
{% endmacro %}

{{ skeleton.skeleton(blog_title=blog_title, blog_subtitle=blog_subtitle, head_title=head_title, content=error(content['text'])) }}
