{% import 'modules.html' as modules %}
{% import 'skeleton.html' as skeleton %}

{% macro blog_post_list(entries, prev, next) -%}
  <!--stories-->
  {% for entry in entries %}
  	{% if entry['icon'] %}
  		{{ modules.blog_post(title=entry.title, text=entry.content|truncate(128), permalink=entry.link, icon=entry.icon, more=True) }}
  	{% else %}
  		{{ modules.blog_post(title=entry.title, text=entry.content|truncate(128), permalink=entry.link, more=True) }}
  	{% endif %}
  	<hr>
  {% endfor %}
  {% if prev %}
  <a href="/page/{{ prev }}" class="btn btn-primary pull-left btnPrev"><i class="glyphicon glyphicon-chevron-left"></i> Newer entries</a>
  {% endif %}
  {% if next %}
  <a href="/page/{{ next }}" class="btn btn-primary pull-right btnNext">Older entries <i class="glyphicon glyphicon-chevron-right"></i></a>
  {% endif %}
  <!--/stories-->
{% endmacro %}

{{ skeleton.skeleton(blog_title=blog_title, blog_subtitle=blog_subtitle, head_title=head_title, content=blog_post_list(entries = content['entries'], prev = content['prev'], next = content['next'])) }}
