{% macro blog_post_tags(tags) -%}
  {% for tag in tags %}
  <a href="/tag/{{ tag }}" class="label label-default">{{ tag }}</a>
  {% endfor %}
{% endmacro %}

{% macro blog_post(title='No Title', text='No text', permalink='#', icon='', tags=['Untagged'], more='') -%}
<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    <a class="story-img" href="{{ permalink }}">
      {% if icon %}
      <img src="{{ icon }}" style="width:100px;height:100px" class="img-circle">
      {% else %}
      <img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle">
      {% endif %}
    </a>
  </div>
  <div class="col-md-10 col-sm-9">
    <h3><a href="{{ permalink }}">{{ title }}</a></h3>
    <div class="row">
      <div class="col-xs-9">
        {{ text }}
        <p class="pull-right">{{ blog_post_tags(tags) }}</p>
        </div>
      <div class="col-xs-3"></div>
    </div>
    {% if more %}
      <p class="lead"><a href="{{ permalink }}" class="btn btn-default">Read More</a></p>
    {% endif %}
    <br><br>
  </div>
</div>
{%- endmacro %}



{% macro head(head_title) -%}
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{ head_title }}</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="/static/css/styles.css" rel="stylesheet">
</head>
{% endmacro %}

{% macro navbar() -%}
<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
{% endmacro %}

{% macro title(blog_title, blog_subtitle) -%}
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ blog_title }}
          <p class="lead">{{ blog_subtitle }}</p>
        </h1>
      </div>
    </div>
  </div><!-- /cont -->
</div>
{% endmacro %}

{% macro footer() -%}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>

      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>
      </div>
    </div>
  </div>
</footer>
{% endmacro %}
