{% import 'modules.html' as modules %}

{% macro skeleton(blog_title, blog_subtitle, head_title, content) -%}
<!DOCTYPE html>
<html lang="en">
	{{ modules.head(head_title) }}
	<body>

	{{ modules.navbar() }}

	{{ modules.title(blog_title=blog_title, blog_subtitle=blog_subtitle) }}

<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">
					{{ content }}
        </div>
      </div>



   	</div><!--/col-12-->
  </div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

{{ modules.footer() }}
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
{% endmacro %}
